name: Build and Publish Artifacts

permissions: read-all

on:
  push:
    branches: [main]

jobs:
  build-and-upload:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Scarb
        uses: software-mansion/setup-scarb@v1

      - name: Build contracts
        run: |
          scarb build -p contracts

      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        with:
          name: kakarot-ssj-build
          path: target/dev
