name: CI

on:
  push:
    branches:
      - main
  # trunk-ignore(yamllint/empty-values)
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: read-all

jobs:
  ef-tests:
    # trunk-ignore(actionlint/runner-label)
    runs-on: ubuntu-latest-32-cores
    steps:
      - name: Checkout ef-tests
        uses: actions/checkout@v3
        with:
          repository: kkrt-labs/ef-tests
      - name: Checkout local skip file
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        uses: actions/checkout@v3
        with:
          sparse-checkout: |
            blockchain-tests-skip.yml
          sparse-checkout-cone-mode: false
          path: skip-file

      - name: Replace the skip files
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        run: |
          mv skip-file/blockchain-tests-skip.yml blockchain-tests-skip.yml

      - name: Create empty skip file
        if: github.event_name == 'workflow_dispatch'
        run: |
          rm blockchain-tests-skip.yml
          echo 'filename:' >> blockchain-tests-skip.yml
          echo '  None:' >> blockchain-tests-skip.yml
          echo '    - None' >> blockchain-tests-skip.yml
          echo '' >> blockchain-tests-skip.yml
          echo 'testname:' >> blockchain-tests-skip.yml
          echo '  None:' >> blockchain-tests-skip.yml
          echo '    - None' >> blockchain-tests-skip.yml
          echo '' >> blockchain-tests-skip.yml
          echo 'regex:' >> blockchain-tests-skip.yml
          echo '  None:' >> blockchain-tests-skip.yml
          echo '    - None' >> blockchain-tests-skip.yml

      - name: Rust cache
        uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: "true"
      - name: setup
        run: make setup

      # we setup kakarot-v0 to get ERC20 token artifact
      - name: Setup Kakarot
        run: make setup-kakarot-v0 && make setup-kakarot-v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.x
      - name: run tests
        run: make ef-test-v1 2>&1 | tee test_v1.out
      - name: Retrieve ef-tests execution resources
        run: python scripts/compute_resources.py
        env:
          KAKAROT_VERSION: v1
      - name: upload resources
        uses: actions/upload-artifact@v3
        with:
          path: resources
          name: resources

      - name: generate blockchain-tests-skip.yml file
        if: github.event_name == 'workflow_dispatch'
        run: |
          mv test_v1.out data.txt
          make generate-skip-file
      - name: upload skip file
        if: github.event_name == 'workflow_dispatch'
        uses: actions/upload-artifact@v3
        with:
          path: blockchain-tests-skip.yml
          name: blockchain-tests-skip
